*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
 
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazonlogo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 25px;
}

.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
 .add-icon{
    display: flex;
    align-items: center;
    margin-left: 15px;
 }

 /* Box 3 */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: #0f1111;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-search:hover{
    border: 2px solid orange;
}

/* box 4 */

span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* box 6 */

.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* Panel */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-opps p {
    display: inline;
    margin-left: 15px;
}

.panel-opps{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/* hero section */

.hero-image{
    background-image: url(amazonimg2.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero-msg a{
    color: #007185;
    text-decoration: none;
}

/* shop section */

.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box{
    border: 2px ;
    height: 400px;
    width: 23%;
    background-color: white;
}


.box1-img{
    height: 110.76px;
    width: 116.85px;
    background-size: contain;
    background-color: white;
    margin-top: 20px;
}

.box1-img p{
    position: relative;
    top: 110px;
    left: 30px;
    font-size: 0.85rem;
}

.box1-img2{
   position: relative;
   bottom: 100px;
   left: 150px;
    height: 90.76px;
    width: 116.85px;
    background-size: contain;
    background-color: white;
    display: inline-block;
}

.keyboard{
    position: relative;
    bottom: 97px;
    left: 140px;
}

.box-img3{
    position: relative;
    bottom: 80px;
    height: 115.76px;
    width: 116.85px;
    background-size: contain;
    background-color: white;
}

.box-img3 p{
    position: relative;
    top: 113px;
    font-size: 0.85rem;
    left: 20px;
}

.box-img4{
    position: relative;
    bottom: 190px;
    left: 150px;
    height: 115.76px;
    width: 116px;
    background-size: contain;
}

.box-img4 p{
    position: relative;
    top: 108px;
    font-size: 0.85rem;
    left: 25px;
}

.see-more1{
    position: absolute;
    bottom: -190px;
    left: 40px;
    font-size: 0.85rem;
    font-display: none;
    text-decoration: none;
}

.box1 h2{
    position: relative;
    left: 20px;
    top: 10px;
}

.box2 h2{
    position: relative;
    bottom: -10px;
    left: 10px;
}

.box2-img1{
    position: relative;
    top: 60px;
    left: 15px;
    height: 125px;
    width: 250px;
    background-size: cover;
}
.box2-img1 p{
    position: relative;
    bottom: -130px;
    font-size: 0.85rem;
}

.box2-img2{
    position: relative;
    top: 90px;
    left: 20px;
    height: 75px;
    width: 110px;
    background-size: contain;
}

.box2-img2 p{
    position: relative;
    top: 80px;
    font-size: 0.85rem;
}

.box2-img3{
    position: relative;
    top: 15px;
    left: 150px;
    height: 73px;
    width: 110px;
    background-size: contain;
}

.box2-img3 p{
    position: relative;
    top: 78px;
    font-size: 0.85rem;
}

.see-gadget{
    position: relative;
    bottom: -65px;
    left: 20px;
    font-size: 0.85rem;
    font-display: none;
    text-decoration: none;
}

.box4-img1{
    position: relative;
    top: 80px;
    left: 15px;
    height: 50%;
    width: 250px;
    background-size: contain;
}

.box4 h2{
    position: relative;
    top: 10px;
    left: 15px;
}

.shop{
    position: relative;
    top: 260px;
    left: 3px;
    font-size: 0.85rem;
    font-display: none;
    text-decoration: none;
}

.box3 h2{
    position: relative;
    top: 11px;
    left: 10px;
}

.box3-img{
    position: relative;
    top: 60px;
    left: 40px;
    height:200px;
    width: 200px;
    background-size: contain;
}

.disc{
    position: relative;
    bottom: -60px;
    left: 20px;
    font-weight: 700;
    color: white;
    background-color: #CC0C39;
    font-size: 0.85rem;
    text-decoration: none;
}

.deal{
    position: relative;
    bottom: -60px;
    left: 25px;
    color: #CC0C39;
    font-weight: 700;
    font-size: 0.85rem;
    text-decoration: none;
}

.deal-key{
    position: relative;
    top: 120px;
    left: 20px;
    font-size: 0.85rem;
}

.dealkey{
    text-decoration: none;
}

/* footer */

footer{
    margin-top: 30px;
}

.foot-panel1{
     background-color: #37435a;
     color: white;
     height: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 0.85rem;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 30px;
}

ul p{
    font-weight: 700;
    font-size: 1rem;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.logo-again{
      background-image: url(amazonlogo2.png);
      height: 70px;
      width: 100px;
      background-size: cover;
}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
}

.pages{
      font-size: 0.7rem;
      text-align: center;
      padding-top: 25px;
}

.copywrite{
    padding-top: 5px;
        font-size: 0.7rem;
        text-align: center;
}